.review-header {
  display: flex;
  gap: 6px;
}
.review-container,
.review-sec-container {
  border: 1px solid #ddd;
  padding: 20px;
}

.review-sec-container {
  margin-top: 80px;
  border-bottom: none;
  width: 70px;
  font-weight: 600;
}

.review-title {
  margin-bottom: 10px;
  font-weight: 500;
}
.review-date {
  color: var(--lightened-dark);
  font-size: 14px;
  margin-bottom: 16px;
}
.review-header {
  margin-bottom: 4px;
}
.review-desc {
  font-size: 14px;
}
