.header {
  font-size: 42px;
  margin-bottom: 20px;
}

.container {
  text-align: center;
  align-items: center;
  vertical-align: middle;
  padding: 32px 10%;
  background-color: var(--dark);
  color: var(--light);
}

.footerBody div {
  margin-top: 20px;
}
